[Desktop Entry]
Name=Artriculate
Name[ar]=Artriculate
Name[ca]=Artriculate
Name[ca@valencia]=Artriculate
Name[cs]=Artriculate
Name[da]=Artriculate
Name[de]=Artriculate
Name[en_GB]=Artriculate
Name[es]=Artriculate
Name[et]=Artriculate
Name[eu]=Artriculate
Name[fi]=Artriculate
Name[fr]=Artriculate
Name[gd]=Artriculate
Name[gl]=Artriculate
Name[hu]=Artriculate
Name[ia]=Artriculate
Name[id]=Artriculate
Name[it]=Artriculate
Name[ko]=Artriculate
Name[nb]=Artriculate
Name[nl]=Artriculate
Name[nn]=Artriculate
Name[pl]=Artriculate
Name[pt]=Artriculate
Name[pt_BR]=Artriculate
Name[ru]=Artriculate
Name[sk]=Artriculate
Name[sl]=Artriculate
Name[sr]=Artriculate
Name[sr@ijekavian]=Artriculate
Name[sr@ijekavianlatin]=Artriculate
Name[sr@latin]=Artriculate
Name[sv]=Artriculate
Name[tr]=Artriculate
Name[uk]=Artriculate
Name[x-test]=xxArtriculatexx
Name[zh_CN]=Artriculate
Name[zh_TW]=Artriculate
Comment=Allows you to use Artriculate your KDE Plasma wallpaper

Type=Service
Icon=plasma

X-KDE-PluginInfo-Author=@sirspudd
X-KDE-PluginInfo-Email=d@chaos-reins.com
X-KDE-PluginInfo-Name=com.chaos-reins.artriculate
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Version=1.0
